node_modules

# Output
dist/**/*.js.map

# Mac
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.env
.DS_Store
package-lock.json
