* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(48, 60, 66, 1) 0%, rgba(8, 30, 51,1) 80%);
  position: relative;
  overflow: hidden;
  color: rgba(208, 204, 202, 0.5);
  font: 1em sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

#main {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
}

input {
  color: rgba(208, 204, 202, 0.7);

  background: rgb(208, 204, 202, 0.1);
  font: sans-serif;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
}

#url {
  width: 350px;
  height: 55px;
  padding: 22px 18px;
  margin-top: 5px;
  font-size: 15px;
}

.waketime {
  display: flex;
  flex-direction: row;

  margin-top: 5px;
  font-size: 40px;
  height: 55px;
}

#hour {
  margin-right: 5px;
  width: 55px;
  padding: 12px 11px;
  font-size: 30px;
}

#minute {
  margin-left: 5px;
  width: 55px;
  padding: 12px 11px;
  font-size: 30px;
}

#arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}